<!------ ローカルパス ------>
<script src="/layouts/js/jquery-1.11.3.min.js"></script>
<!------ 社内テストアップパス ------>
<!-- <script src="/mobile/_lab/sandbox/takeda_sh/primedrive/help-new/web/ja/layouts/js/jquery-1.11.3.min.js"></script> -->
<!------ 納品パス ------>
<!-- <script src="/help-new/web/ja/layouts/js/jquery-1.11.3.min.js"></script> -->

<!------ ローカルパス ------>
<script src="/layouts/js/js.cookie.js"></script>
<!------ 社内テストアップパス ------>
<!-- <script src="/mobile/_lab/sandbox/takeda_sh/primedrive/help-new/web/ja/layouts/js/js.cookie.js"></script> -->
<!------ 納品パス ------>
<!-- <script src="/help-new/web/ja/layouts/js/js.cookie.js"></script> -->

<script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,es6-shim/0.35.1/es6-sham.min.js,es6-shim/0.35.1/es6-shim.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
<![endif]-->
<script src="https://as.alipayobjects.com/g/component/??es6-shim/0.35.1/es6-sham.min.js,es6-shim/0.35.1/es6-shim.min.js"></script>

<!------ ローカルパス ------>
<script src="/layouts/js/script.js"></script>
<!------ 社内テストアップパス ------>
<!-- <script src="/mobile/_lab/sandbox/takeda_sh/primedrive/help-new/web/ja/layouts/js/script.js"></script> -->
<!------ 納品パス ------>
<!-- <script src="/help-new/web/ja/layouts/js/script.js"></script> -->

<!------ ローカルパス ------>
<link rel="stylesheet" type="text/css" href="/styles/website_print.css" media="print">
<!------ 社内テストアップパス ------>
<!-- <link rel="stylesheet" type="text/css" href="/mobile/_lab/sandbox/takeda_sh/primedrive/help-new/web/ja/styles/website_print.css" media="print"> -->
<!------ 納品パス ------>
<!-- <link rel="stylesheet" type="text/css" href="/help-new/web/ja/styles/website_print.css" media="print"> -->

<div class="book-header-original">
<div class="head_left">

<p class="logo"><img src="/layouts/img/head_logo.png" width="100%" alt="PrimeDrive"></p>
<!-- <p class="logo"><img src="/mobile/_lab/sandbox/takeda_sh/primedrive/help-new/web/ja/layouts/img/head_logo.png" width="100%" alt="PrimeDrive"></p> -->
<!-- <p class="logo"><img src="/help-new/web/ja/layouts/img/head_logo.png" width="100%" alt="PrimeDrive"></p> -->

<!-- タイトル変更 -->
<p class="head_tit">ユーザマニュアル</p>
<p class="update_date">2019年3月15日 更新日</p>

<!------ ローカルパス ------>
<p class="sb_logo"><img src="/layouts/img/sb_logo.png" width="100%" alt="SoftBank"></p>
<!------ 社内テストアップパス ------>
<!-- <p class="sb_logo"><img src="/mobile/_lab/sandbox/takeda_sh/primedrive/help-new/web/ja/layouts/img/sb_logo.png" width="100%" alt="SoftBank"></p> -->
<!------ 納品パス ------>
<!-- <p class="sb_logo"><img src="/help-new/web/ja/layouts/img/sb_logo.png" width="100%" alt="SoftBank"></p> -->
</div>
</div>
