.book.with-summary {
    overflow: auto;
    overflow-y: auto;
    height: auto;
}
.book-header,.book.with-summary .book-summary,.book-header-original #book-search-input {
    display: none;
}
.book.with-summary .book-body {
    margin: 0;
    transform: none !important;
}
.markdown-section h2,.markdown-section h3,.markdown-section h4,.markdown-section h5,.markdown-section h6,.markdown-section p,.markdown-section ul,.markdown-section ol,.markdown-section table,.markdown-section p.caution {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}
.markdown-section h1 {
    display: block;
    width: 100%;
    margin: 0 0 1.25em;
    padding: 0.75em 0 0.75em 1.25em;
    font-size: 1.625em;
    color: #ffffff;
    background: #1a87ba;
    position: relative;
    page-break-before: always;
}
.markdown-section h1:after {
    content: '';
    width: 120px;
    height: 23px;
    display: block;
    background: url(/layouts/img/h1_logo.png) center center /contain no-repeat;
    position: absolute;
    top: -23px;
    right: 35px;
    bottom: 0;
    margin: auto;
}
.markdown-section h1:before {
    content: 'ユーザーマニュアル';
    width: 120px;
    height: 20px;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 29px;
    right: 35px;
    bottom: 0;
    margin: auto;
}
.markdown-section h2 {
    margin: 3em auto 1em;
    font-size: 1.625em;
}
.markdown-section .mgt0 {
    margin-top: 0 !important;
}
#pagetop {
    display: none !important;
}
.markdown-section table {
    page-break-inside: auto;
    border-collapse: separate;
}
.markdown-section h1,.markdown-section h2,.markdown-section h3,.markdown-section h4,.markdown-section h5,.markdown-section h6 {
    page-break-inside: avoid;
}